* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Arial;
}

/* Header */
.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  padding: 16px;
  text-align: center;
  background-color: #4fb2e8;
}

.header i {
  left: 0;
  top: 0;
}

/* Footer */
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2vH;
  text-align: center;
  background: #999;
  margin-top: 2vH;
  margin-bottom: 0;
}

/* Post formatting */
.post {
  border: 1px solid black;
  display: flex;
  min-width: 20vW;
  margin-left: 50%;
  margin-right: 50%;
}

.post .text {
  vertical-align: middle;
  /* Text overflow handling */
  white-space: nowrap;
  text-overflow: clip;
  padding: 0.5vW;
  font-size: 14px;
}

.post img {
  border-radius: 50%;
  width: 8vW;
  padding: 0.5vW;
}

@media screen and (max-width: 800px) {}
