.sideNav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 1vH;
  /* Text overflow handling */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
}

.sideNav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
  /* Text overflow handling */
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: clip;
  /* Unselectable */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.sideNav a:hover {
  color: #f1f1f1;
}

.navButton {
  z-index: 2;
  font-size: 30px;
  cursor: pointer;
  margin-left: 250px;
  position: fixed;
  padding: 16px;
  /* Unselectable */
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

/* Navigation button wiggle */
@keyframes navButtonWiggle {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(-10deg);
  }

  50% {
    transform: rotateZ(10deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}

/* Navigation spin */
@keyframes navButtonSpin {
  100% {
    transform: rotateZ(360deg);
  }
}

.navButton:hover {
  animation: navButtonWiggle .5s;
}

#main {
  transition: margin-left .5s;
}

.avatar {
  display: flex;
}

.avatar .text {
  color: white;
  vertical-align: middle;
  color: white;
  /* Text overflow handling */
  white-space: nowrap;
  text-overflow: clip;
  padding: 0.5vW;
  font-size: 18px;
}

.avatar img {
  border-radius: 50%;
  width: 100%;
  padding: 0.5vW;
}

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }

  .sideNav a {
    font-size: 18px;
  }
}

@media screen and (max-width: 800px) {
  .navButton {
    margin-left: 0;
  }

  .sideNav {
    margin-top: 60px;
    text-align: center;
  }

  .avatar {
    margin: auto;
    display: inline-block;
  }

  .avatar img {
    width: 25%;
  }
}
